doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    
  body
    <a href="../yolanda">Yolanda</a>
    <a href="../matt">Matt</a>
    <a href="../mark">Mark</a>
    <a href="../chantel">Chantel</a>
    block content
