extends header

block content
    h1=title
    h2 My name is #{title}
    p #{title} is a student at georgian college, she is a loving wife, and mother too 2 wonderful kids named Mark and Chantel.
        